.destinos{
    padding: 2%;
    margin: solid 2px black;
    display: flex;
    justify-self: center;
    text-align: center;
    background-color: antiquewhite;
    border-radius: 3% ;
    box-shadow: 12px 15px 40px blue;
}
.verde{
    background-color: green;
}